html, body {
  background: rgb(52, 58, 64, 0.1);
  margin: 0px;
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  /* font-family: akkurta, Inconsolata, monospace; */
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.callout {
  border-radius: 4px;
  position: absolute;
  padding: 5px;
  z-index: 9999;
}

.callout-arrow {
  height: 0;
  width: 0;
  position: absolute;
}

.colorTester {
  color: rgb(212, 173, 45);
  color: rgba(233, 188, 40, 0.699);
  color: rgba(0, 0, 0, 0.473);
}