html, body {
    height: 100%;
    width: 100%;
    background: #c6c8c9;
    margin: 0px;
    padding: 0px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

#root {
    height: 100%;
    width: 100%;
    background: #c6c8c9;
    overflow-x: hidden;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.nav-link-custom {
  margin: 0px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 12px;
  padding-left: 12px;
  transition: 0.25s;
  white-space: nowrap;
  color: #d7d8d9;
  text-decoration: none;
  font-size: 22px;
}

.nav-link-custom:hover {
  color: #E09E3B;
  text-decoration: none;
}

.MuiGrid-container {
  width: 100% !important;
  margin: 0 !important;
}

.react-pdf__Page__textContent span {
	opacity: 0.1;
}

.react-pdf__Page__textContent span::selection {
	background-color: blue;
}

.fa-linkedin:hover, .fa-github:hover {
  color: #E09E3B;
}