.buttonHeader {
  display: flex;
  align-items: left;
  background-color: #282c34;
  padding: 2px;
}

.button {
  height: 40px;
  width: 130px;
  background-color: #282c34;
  border: 0px solid #09d3ac;
  color: #09d3ac;
  padding: 0px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  margin: 0px;
  cursor: pointer;
  transition-duration: 0.1s;
}

.button:hover {
  background-color: #c9fff4;
  color: #282c34;
}
