.tooltip {
  color: black;
  background-color: white;
  margin: 10px 0px 0px 0px;
  padding: 5px 0px 0px 0px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* border: 1px solid #d30909; */
  justify-content: center;
  align-items: center;
}

img {
  margin: 0px;
  padding: 0px;
}

.tooltip-message {
  height: 100%;
  width: 30%;
  margin: 5px;
  padding: 0px;
}